*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}
body{
    height: auto;
    overflow-x: hidden;
    background-image: linear-gradient(to left, rgb(2, 2, 2),rgb(0, 0, 0));
}
/* header */
header{
    width: 100vw;
    height: 15vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% auto 25%;
   
}
.headerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(95, 92, 92);

}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.2em;
    color: white;
    font-weight: 300;
}
.headerNav{
    font-size: 1.2em;
}
.headerNavA{
    text-decoration: none;
    color: rgb(197, 186, 186);
    padding: 10px;
    font-weight: 200;
}
.headerNavA:hover{
    color: white;
}
.btnExplore{
    text-align: center;
    width: 8vw;
    padding: 12px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, rgb(84, 121, 121),rgb(42, 211, 19));
}
.btnExplore:hover{
    scale: 1.1;
    cursor: pointer;
}
/* section main */

.main{
    
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin: auto;

}
.mainContainer{
    margin-top: 10vh;
    width: 50vw;
    height: 80vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    border: 1px solid rgb(110, 107, 107);
}
.mainContainer div{
    width: 30vw;
    height: auto;

}
.mainMainContainerh1{
    font-size: 3.4em;
    color: white;
    font-weight: 400;
}
.mainMainContainerh1P{
    font-size: 1.2em;
    padding-top: 4vh;
    color: rgb(170, 168, 164);

}
.mainMainContainerh1div{
    display: block;
    margin-top: 8vh;
    width: 40vw;
    
   
}
.mainMainContainerh1div p{
    margin: 10px;
    display: inline-block;
    font-size: 1.3em;
    padding: 18px;
    color: rgb(124, 118, 118);
    border-radius: 5px;
    cursor: pointer;
}
.mainMainContainerh1div p:hover{
    color: white;
}
.color{
    width: 10vw;
    color: black;
    background-image: linear-gradient(to right, rgb(92, 211, 181),rgb(42, 211, 19));
}
.color2{
    border: 1px solid rgb(42, 211, 19);
}
.conatinerPersonagens{
    width: 20vw;
    height: 60vh;
    background-image: linear-gradient( to left,rgb(42, 211, 19),rgb(55, 66, 57));
    border: 1px solid black;
}
.pers1{
    position: relative;
    right: 18vw;
    top: 6vh;
    rotate: -14deg;
    z-index: 4;
    
}
.imgPersonagen{
    
    margin: auto;
    margin-top: 2vh;
    width: 94%;
    height: 70%;
    background-image: url("imgs/nft1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.imgPersonagen1{
    margin: auto;
    margin-top: 2vh;
    width: 94%;
    height: 70%;
    background-image: url("imgs/nft3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.imgPersonagen2{
    margin: auto;
    margin-top: 2vh;
    width: 94%;
    height: 70%;
    background-image: url("imgs/nft4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.namePersonagen{
    text-align: center;
    padding: 10px;
    font-size: 1.8em;
    color: white;
}
.pers2{
    position: relative;
    right: 2vw;
    top: -14vh;
    rotate: 44deg;
    z-index: 3;
}
.pers3{
    position: relative;
    right: 20vw;
    top: -37vh;
    rotate: -28deg;
    z-index: 2;
}
.linha{
    width: 150vw;
    height: 15vh;
    background-color: rgba(199, 185, 185, 0.171);
    border: 1px solid rgb(150, 142, 142);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10vh;
    rotate: -5deg;
    left: -50px;
    z-index: 0;
    
}
.linha p{
    font-size: 1.5em;
    width: 10vw;
    display: inline;
    padding: 15px;
    color: rgb(42, 211, 19);
}

/* section imagen */
.sectionImage{
    padding-top: 10vh;
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
.sectionImageImg{
    background-color: rgba(30, 155, 30, 0.397);
    margin: auto;
    width: 100%;
    height: 90%;
}
.sectionImageImg div{
    
    height: 100%;
    width: 100%;
    background-image: url("imgs/nft8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sectionImageText{
    width: 80%;
    height: 90%;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.sectionImageData{
    
    margin-top: 8vh;
    font-size: 1.4em;
    color: rgb(95, 94, 93);
}
.sectionImageText h2{
    color: white;
    padding-top: 10px;
    font-size: 2.1em;
}
.sectionImageText .next{
    margin-top: 8vh;
    font-size: 1.8em;
    color: rgb(68, 223, 54);
}
.sectionImageText .quadrados{
    width: 100%;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 4vh;
}
.quadadrinho{
    background-color: rgb(233, 223, 223);
    padding: 30px;
}
.divBtn{
    display: flex;
    align-items: end;
    height: 35vh;
}
.divBtn p{
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: 22px;
    background-image: linear-gradient(to left, rgb(77, 179, 67),rgb(55, 135, 138));
}
.divBtn p:hover{
    scale: 1.1;
}
/* section topArt */
.topArt{
    width: 80vw;
    height: auto;
    margin: auto;
}

.topArtDiv h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10vh;
    text-align: center;
    color: white;
    font-size: 2.8em;
    font-weight: 400;
}
.nfts{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
}
.nfts1{
    display: none;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
}
.containerNft{
    border-radius: 5px;
    margin-top: 8vh;
    margin-bottom: 10px;
    width: 25vw;
    height: 85vh;
    background-image: linear-gradient(to bottom, rgb(69, 211, 26), black) ;
}

.containerNft:hover{
    position: relative;
    top: -5vh;
    
    

}
.nftImg{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    background-image: url("/imgs/nft9.jpg");
}
.nfts h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    color: white;
    font-weight: 400;

}
.nfts1 h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    color: white;
    font-weight: 400;

}

.nftText{
    padding-top: 4vh;
    width: 90%;
    height: 20%;
    margin: auto;
}

.nftBtn{
    margin-top: 0vh;
    border: 1px solid rgb(85, 82, 82);
    height: 12vh;
    color: rgb(85, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nftBtn:hover{
    background-image: linear-gradient(to left, rgb(44, 223, 28),rgb(55, 135, 138));

    color: white;
}
.nftImg1{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    background-image: url("imgs/nft5.jpg");
}
.nftImg2{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    background-image: url("/imgs/nfts2.jpeg");
}
.nftImg3{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    background-image: url("/imgs/nfts1.jpg");
}
.nftImg4{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    background-image: url("/imgs/nfts3.jpg");
}
.nftImg5{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    background-image: url("/imgs/nfts4.png");
}
.nftImg6{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    background-image: url("/imgs/nfts2.jpeg");
}
.nftImg7{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    background-image: url("/imgs/nfts5.png");
}
.nftImg8{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    background-image: url("/imgs/nfts6.jpg");
}
.nftImg9{
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 4vh;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-position: center;
    background-image: url("/imgs/nfts7.webp");
}
.btn-abrir{
    width: 80vw;
    margin: auto;
    
}
.btn-abrir div{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-abrir div p{
    text-align: center;
    width: 20vw;
    color: white;
    background-color: rgba(70, 165, 70, 0.267);
    font-size: 1.8vw;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-abrir div p:hover{
    background-color: rgb(9, 253, 9);
    font-size: 1.8vw;
    color: black;
    transition: 1s; 
    scale: 1.1;
}
.btn-fechar{
    display: none;
    width: 80vw;
    margin: auto;
    
}
.btn-fechar div{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-fechar div p{
    text-align: center;
    width: 20vw;
    color: white;
    background-color: rgba(70, 165, 70, 0.267);
    font-size: 1.8vw;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-fechar div p:hover{
    background-color: rgb(9, 253, 9);
    font-size: 1.8vw;
    color: black;
    transition: 1s; 
    scale: 1.1;
}

/* Popular Colecttion */

.popularColecttion{
    display: block;
    width: 99vw;
    height: 90vh;
    margin: auto;
    border-bottom: 1px solid rgb(5, 255, 5);
}
.popularColecttion .title{
    padding: 25px;
    height: 15vh;
    text-align: start;
    font-size: 2.8em;
    color: white;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.popularColecttion .container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.popularColecttion .container .box{
    border-radius: 5px;
    width: 30vw;
    height: 60vh;
    background-image: linear-gradient(to top, rgb(114, 145, 127), rgb(21, 255, 0));
}
.popularColecttion .container .box:hover{
    position: relative;
    top: -5vh;
}
.popularColecttion .container .box h1{
    font-size: 2.3em;
    color: black;
    font-weight: 600;
    padding: 25px;
}
.popularColecttion .container .box .boxImage{
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 90%;
    height: 70%;
    
    
    
    
}
.popularColecttion .container .box .boxImage .boxImage1{
    margin-left: 4px;
    height: 100%;
    width: 90%;
    overflow: hidden;
    background-image: url("/imgs/nft4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.popularColecttion .container .box .boxImage .boxImage2{
    background-color: rgba(0, 255, 255, 0);
    padding-bottom: 10%;
}
.boxImage2 .image1{
    
    margin-bottom: 5px;
    width: 100%;
    height: 52%;
    background-image: url("/imgs/nft3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.boxImage2 .image2{
    margin-top: 5px;
    width: 100%;
    height: 53%;
    background-image: url("/imgs/nft2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.popularColecttion .container .box .boxImage .boxImage3{
    margin-left: 4px;
    height: 100%;
    width: 90%;
    overflow: hidden;
    background-image: url("/imgs/nfts7.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.boxImage2 .image3{
    
    margin-bottom: 5px;
    width: 100%;
    height: 52%;
    background-image: url("/imgs/nft7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.boxImage2 .image4{
    margin-top: 5px;
    width: 100%;
    height: 53%;
    background-image: url("/imgs/nft8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.popularColecttion .container .box .boxImage .boxImage4{
    margin-left: 4px;
    height: 100%;
    width: 90%;
    overflow: hidden;
    background-image: url("/imgs/nft5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.boxImage2 .image5{
    
    margin-bottom: 5px;
    width: 100%;
    height: 52%;
    background-image: url("/imgs/nfts4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.boxImage2 .image6{
    margin-top: 5px;
    width: 100%;
    height: 53%;
    background-image: url("/imgs/nfts1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* resposivel */
#button{
    display: none;
    color: white;
}
#menu{
    display: none;
    width: 100vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
.menuNav{
    display: block;
    text-align: center;
}
.menuNavA{
    display: block;
    text-decoration: none;
    color: white;
    text-align: start;
    padding: 10px;
}
.menuNavA:hover{
    color: rgb(30, 255, 0);
}
#buttonFechar{
    
    padding: 20px;
    color: white;
}

/* rodapé */

.Rodape{
    margin-top: 10vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80vw;
    height: 60vh;
    margin: auto;
    
}
.RodapeLogo{
    margin-top: 5vh;
    display: grid;
    color: white;
    justify-content: center;
    align-items: center;
}
.RodapeLogo a{
    
    margin-top: 2vh;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-image: linear-gradient(to left, rgb(0, 255, 0), rgb(89, 216, 100));
}
@media only screen and (max-width: 1050px){
    .mainContainer{
        width: 60vw;
    }
    .mainMainContainerh1{
        font-size: 2em;
    }
    .mainMainContainerh1P{
        font-size: 1.2em;
    }
    .conatinerPersonagens{
        width: 25vw;
    }
    .color2{
        width: 20vw;
    }
    .pers3{
        display: none;
    }
    .linha{
        margin-top: 30vh;
    }
}
@media only screen and (max-width: 800px){
    #button{
        display: inline;
    }
    .headerNav{
        display: none;
    }
    header{
        grid-template-columns: auto auto auto;   
    }
    .btnExplore{
        width: 20vw;
    }
    .pers2{
        display: none;
    }
    .conatinerPersonagens{
        width: 38vw;
    }
    .pers1{
        right: 8vw;
        top: 10vh;
        rotate: 7deg;
        z-index: 4;
    }
    .linha{
        top: 10vh;
    }
    .sectionImage{
        padding-top: 18vh;
        
    }
    .sectionImageImg{
        width: 100%;
        height: 80%;
    }
    .divBtn{
        height: 18vh;
    }
    .btn-abrir div p{
        font-size: 1.2em
    }
    .popularColecttion .title{
        font-size: 2.4em;
    }
    .topArt{
        width: 100vw;
    }
    .containerNft{
        width: 29vw;
        height: 70vh;
    }
    .popularColecttion{
        height: auto;
    }
    .popularColecttion .container {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        justify-content: center;
    }
    .popularColecttion .container .box{
        width: 70vw;
        height: 70vh;
        margin-bottom: 4vh;
    }
    .popularColecttion .container .box:hover{
        top: 0;
        scale: 1.1;
    }
}
@media only screen and (max-width: 400px){
    .mainContainer{
        width: 100vw;
        border: none;
    }
    .mainMainContainerh1div p{
        font-size: 1.1em;
    }
    .mainContainer div{
        width: 80vw;
    }
    .mainContainer{
        height: auto;
    }
    .pers1{
        display: none;
    }
    .color{
        width: 20vw;
    }
    .color2{
        width: 30vw;
    }
    .linha{
        margin-top: 0vh;
    }
    .sectionImage{
        height: 150vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .sectionImageText{
        width: 100%;
        height: 40%;
    }
    .sectionImageImg{
        width: 80vw;
        height: 100%;
    }
    .sectionImageText{
        margin: auto;
    }
    .nfts{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .nfts1{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        
    }
    .containerNft{
        width: 80vw;
    }
    .containerNft:hover{
        position: static;
    }
    .btn-abrir div p{
        width: 70vw;
    }
    .btn-fechar div p{
        width: 70vw;
        font-size: 1.3em;

    }
    .popularColecttion .container .box{
        width: 90vw;
    }
}